@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap");

#output-box {
  padding-top: 2rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #6b7280;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main-container h2 {
  font-weight: lighter;
}

.main-container h1 {
  font-weight: bold;
  font-size: 64px;
}

#input-feilds {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  margin: 2rem;
  gap: 5rem;
}

input {
  margin-left: 5px;
  height: 30px;
  width: 300px;
  border-top-right-radius: 1.5rem;
  border-style: none;
}

button {
  padding: 1rem 1.5rem;
  border-top-right-radius: 1.5rem;
  border-style: dashed;
}
